@font-face {
  font-family: "iconfont"; /* Project id 4166063 */
  src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuliangqianbao:before {
  content: "\e72d";
}

.icon-qianbao:before {
  content: "\e667";
}

.icon-a-MenuCaigouduizhang2x:before {
  content: "\e601";
}

.icon-jisuanqi2:before {
  content: "\eb18";
}

.icon-jisuanqi:before {
  content: "\e76a";
}

.icon-jisuanqi1:before {
  content: "\e66b";
}

.icon-Nimbersbiaoge:before {
  content: "\e65a";
}

.icon-icon-:before {
  content: "\e726";
}

.icon-pre_icon_jisuanqi:before {
  content: "\e63b";
}

.icon-biaoge:before {
  content: "\e6d5";
}

.icon-biaoge-chakan:before {
  content: "\e660";
}

.icon-biaoge1:before {
  content: "\e8a1";
}

.icon--_biaoge:before {
  content: "\e6cb";
}

